.cardbg {
  background-color: #edf5f5;
}
.bgcolor {
  background-color: #007382;
}
.dashborderColor {
  border-color: #007382;
}
.sideborder {
  border-color: #cde2e2;
}
.borderRed {
  border-color: #f00014;
  background-color: #ffe3e6;
}
.customcolor {
  background-color: #dceded;
}

.redBg {
  background-color: #fdd1d4;
}
.errorCorlor {
  color: var(---f00014);
  text-align: left;
  font: normal normal medium 16px/16px Gotham;
  letter-spacing: 0.64px;
  color: #f00014;
  opacity: 1;
}
.errorButtonCorlor {
  border: 1px solid var(---f00014);
  background: #ffe3e6 0% 0% no-repeat padding-box;
  opacity: 1;
}
.buttonItemColor {
  color: var(---f00014);
  text-align: left;
  font: normal normal medium 14px/27px Gotham;
  letter-spacing: 0px;
  color: #f00014;
  opacity: 1;
}

ion-button {
  text-transform: none;
}
.customtext{
  color: #2674D1;
}