.cardbg {
  background-color: #edf5f5;
}
.bgcolor {
  background-color: #007382;
}
.dashborderColor {
  border-color: #007382;
}
.sideborder {
  border-color: #cde2e2;
}
.borderRed {
  border-color: #f00014;
  background-color: #ffe3e6;
}
.customcolor {
  background-color: #dceded;
}

.redBg {
  background-color: #fdd1d4;
}
