<div class="max-w-full mx-auto rounded-md">
  <div class="cardbg mt-6 rounded-md text-sm relative">
    <div
      class="absolute right-0 -mt-4 -mr-1 w-16 h-16 rounded-full bg-white flex"
    >
      <div
        class="bgcolor mx-auto my-auto w-12 h-12 rounded-full shadow-md flex"
      >
        <ion-icon
          name="location-outline"
          class="text-2xl mx-auto my-auto text-white"
        ></ion-icon>
      </div>
    </div>
    <div>
      <!-- Plant Name part -->
      <div class="flex justify-between px-2">
        <ion-grid>
          <ion-row>
            <ion-col size="1" class="my-auto">
              <ion-icon
                name="business"
                size="large"
                color="secondary"
              ></ion-icon>
            </ion-col>
            <ion-col size="10" class="ml-3 md:ml-2">
              <ion-text color="dark" class="text-[12px] font-gotham_light">
                <p>Plant name</p>
              </ion-text>
              <ion-text
                color="black"
                class="text-[14px] text-wrap font-gotham_medium"
              >
                {{ plant.plantName }}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- createdAt part -->

      <div class="flex justify-between px-2">
        <ion-grid class="dashborderColor border-t-[1.5px] border-dashed">
          <ion-row>
            <ion-col size="7" class="sideborder border-r">
              <!-- <p class="font-gotham_medium">
                  Zero asset mapped in this plant
                </p> -->
              <ion-text color="black">
                <p class="text-[12px] font-gotham_light">Created by</p>
              </ion-text>
              <ion-text color="dark" class="text-[14px] font-gotham_medium">
                {{ plant.createdBy }}
              </ion-text>
            </ion-col>
            <ion-col size="5">
              <div class="ml-4">
                <ion-text class="text-[12px] font-gotham_light" color="black">
                  <p>Last modified date</p>
                </ion-text>
                <ion-text class="text-[14px] font-gotham_medium" color="black">
                  {{ plant.lastModifiedDate }}
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Mapped Assets part -->

      @if (plant.totalMappedAssets) {
        <div class="customcolor flex justify-between px-2">
          <ion-grid>
            <ion-row>
              <ion-col size="10" class="my-auto">
                <ion-text
                  color="secondary"
                  class="text-[16px] font-gotham_medium"
                >
                  Total number of assets mapped
                </ion-text>
              </ion-col>
              <ion-col class="flex justify-center" size="2">
                <ion-button
                  size="small"
                  shape="round"
                  fill="outline"
                  color="secondary"
                  class="bg-white rounded-full"
                  [routerLink]="['/asset-register/asset-mapped', plant.id]"
                >
                  <p class="text-[14px] font-gotham_medium">
                    {{ plant.totalMappedAssets }}
                  </p>

                  <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      } @else {
        <!-- Mapped Assets part -->
        <div class="customcolor bgcolor flex justify-between px-2">
          <ion-grid>
            <ion-row>
              <ion-col size="10" class="my-auto">
                <ion-text
                  color="secondary"
                  class="text-[16px] font-gotham_medium"
                >
                  <p class="font-gotham_medium">
                    Zero asset mapped in this plant
                  </p>
                </ion-text>
                <ion-text color="black" class="text-[12px] font-gotham_book">
                  Click on the map to add asset
                </ion-text>
              </ion-col>
              <ion-col class="flex justify-center my-auto" size="2">
                <ion-button
                  size="small"
                  shape="round"
                  fill="outline"
                  color="secondary"
                  class="bg-white h-8 rounded-full"
                >
                  <p class="text-[14px] font-gotham_medium">Map</p>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      }

      <!-- Error Assets part -->

      <div class="customcolor redBg flex justify-between px-2 rounded-b-md">
        <ion-grid>
          <ion-row>
            <ion-col size="10" class="my-auto">
              <ion-text class="text-[16px] errorCorlor font-gotham_medium">
                Fix all the errors for this plant
              </ion-text>
            </ion-col>
            <ion-col class="flex justify-center" size="2">
              <ion-button
                size="small"
                shape="round"
                fill="outline"
                color="danger"
                (click)="handleMenuToggle()"
                class="errorButtonCorlor rounded-full text-[14px] font-gotham_medium"
              >
                {{ plant.totalRejectedAssets }}
                <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</div>
