<div
  class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
>
  <ion-list lines="none" class="ion-no-padding ion-no-margin">
    <ion-item class="ion-no-padding ion-no-margin">
      <ion-label class="ion-no-padding ion-no-margin">
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%"
          ></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
