
.custom {
  opacity: 1;
  border: 5px;
  border-radius: 32px 32px 0 0;
  box-shadow: 0px 3px 8px #00000029;
  background: transparent 0% 0% no-repeat padding-box;
}

ion-icon.active {
  align-items: center;
  border-color: #007382;
  background-color: #edf5f5;
}

.footerBg {
  background-color: #007382;
}

ion-button {
  color: transparent;
}
