<div
  class="custom fixed left-0 w-full bottom-[-60px] h-[390px] md:h-[310px] lg:h-[310px] rounded-lg shadow bg-white-800 transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen ? 'translate-y-full' : ''"
>
  <div class="h-full w-full flex">
    <div class="h-full w-[calc(100%-105px)] bg-white rounded-tl-[32px]"></div>
    <div class="">
      <svg
        width="68"
        height="34"
        viewBox="0 0 100 50"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto h-full bg-white relative">
        <div
          class="absolute ml-[7px] -top-[62px] cursor-pointer w-[54px] h-[54px] bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-4xl fill-white" name="close"> </ion-icon>
        </div>
      </div>
    </div>
    <div class="h-full bg-white flex-grow rounded-tr-[32px]"></div>
  </div>

  <div class="fixed left-0 top-2 md:top-8 w-full h-full">
    <div class="ml-4 mt-4 md:mt-0 lg:mt-0 md:ml-6 lg:ml-6">
      <div class="font-bold text-[16px] md:text-[24px]">Select Category</div>
    </div>

    <ion-grid class="w-full">
      <ion-row class="md:mx-4 my-2 ion-justify-content-between">
        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button
            fill="clear"
            class="ion-no-padding w-full"
            (click)="handleCategory('sim')"
          >
            <ion-icon
              [class.active]="selectedButton === 'sim'"
              src="../../../assets/segment-icons/sim.svg"
              class="border-[3px] rounded-[6px] p-2 w-12 h-12"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <p>Sim</p>
          </ion-text>
        </ion-col>
        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button
            fill="clear"
            class="ion-no-padding w-full"
            (click)="handleCategory('electrical')"
          >
            <ion-icon
              [class.active]="selectedButton === 'electrical'"
              class="border-[3px] rounded-[6px] p-2 bgColor w-12 h-12"
              src="../../../assets/segment-icons/electrical.svg"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <h1>Electrical</h1>
          </ion-text>
        </ion-col>

        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button
            fill="clear"
            class="ion-no-padding w-full"
            (click)="handleCategory('materialManagement')"
          >
            <ion-icon
              class="border-[3px] rounded-[6px] p-2 bgColor w-12 h-12"
              src="../../../assets/segment-icons/materialManagement.svg"
              [class.active]="selectedButton === 'materialManagement'"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <h1>Material management</h1>
          </ion-text>
        </ion-col>
        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button
            fill="clear"
            class="ion-no-padding w-full"
            (click)="handleCategory('hotMaterial')"
          >
            <ion-icon
              class="border-[3px] rounded-[6px] p-2 bgColor w-12 h-12"
              src="../../../assets/segment-icons/electrical.svg"
              [class.active]="selectedButton === 'hotMaterial'"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <h1>Electrical</h1>
          </ion-text>
        </ion-col>

        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button
            fill="clear"
            class="ion-no-padding w-full"
            (click)="handleCategory('environment')"
          >
            <ion-icon
              [class.active]="selectedButton === 'environment'"
              src="../../../assets/segment-icons/sim.svg"
              class="border-[3px] rounded-[6px] p-2 bgColor w-12 h-12"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <h1>Sim</h1>
          </ion-text>
        </ion-col>
        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button
            fill="clear"
            class="ion-no-padding w-full"
            (click)="handleCategory('quarry')"
          >
            <ion-icon
              [class.active]="selectedButton === 'quarry'"
              src="../../../assets/segment-icons/sim.svg"
              class="border-[3px] rounded-[6px] p-2 bgColor w-12 h-12"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <h1>Sim</h1>
          </ion-text>
        </ion-col>
        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button
            fill="clear"
            class="ion-no-padding w-full"
            (click)="handleCategory('insurance')"
          >
            <ion-icon
              [class.active]="selectedButton === 'insurance'"
              class="border-[3px] rounded-[6px] p-2 bgColor w-12 h-12"
              src="../../../assets/segment-icons/materialManagement.svg"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <h1>Metrial management</h1>
          </ion-text>
        </ion-col>
        <ion-col class="" size="3" sizeMd="1.3" sizeLg="1.3">
          <ion-button fill="clear" class="ion-no-padding w-full">
            <ion-icon
              class="border-[3px] rounded-[6px] p-2 bgColor w-12 h-12"
              src="../../../assets/segment-icons/electrical.svg"
            ></ion-icon>
          </ion-button>
          <ion-text
            color="dark"
            style="text-align: center"
            class="lg:text-[14px] text-[10px]"
          >
            <h1>Insurance</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="w-full footerBg p-[1px]">
      <ion-grid color="primary">
        <ion-row>
          <ion-col
            class="flex ion-justify-content-center ion-align-items-center"
            size="6"
          >
            <ion-text class="text-[16px] font-gotham_book" color="textwhite">
              Refresh
            </ion-text>
          </ion-col>
          <ion-col
            class="flex ion-justify-content-center ion-align-items-center"
            size="6"
          >
            <ion-text
              class="text-[16px] font-gotham_book"
              color="textwhite"
              (click)="categorySubmit()"
            >
              Select(3)
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
