.buttonBg {
  background-color: #f6fafb;
}
.custom {
  border: 5px;
  border-radius: 32px 32px 0 0;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  opacity: 1;
}

.bgColor {
  align-items: center;
  background-color: #edf5f5;
  border-color: #007382;
}
