{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 80,
        "parser": "angular",
        "vueIndentScriptAndStyle": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
