.shadowpart1 {
  opacity: 1;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.shadowpart2 {
  opacity: 1;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  background: #ffffff 0% 0% no-repeat padding-box;
}
ion-backdrop {
  z-index: 40;
  opacity: 0.6;
  background: var(--ion-color-dark);
}
