.shadowpart1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  opacity: 1;
}
.shadowpart2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  opacity: 1;
}
