<div
  class="fixed w-full bottom-0 h-2/3 rounded-[32px] shadow-lg bg-transparent transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen ? 'translate-y-[calc(100%+40px)]' : ''"
>
  <div class="h-full w-full flex">
    <div class="h-full w-[calc(100%-125px)] bg-white rounded-tl-[32px]"></div>
    <div class="">
      <svg
        height="34"
        viewBox="0 0 100 50"
        width="68"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto h-full bg-white relative">
        <div
          class="absolute ml-[7px] -top-[62px] cursor-pointer w-[54px] h-[54px] bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-4xl fill-white" name="close"></ion-icon>
        </div>
      </div>
    </div>
    <div class="h-full bg-white flex-grow rounded-tr-[32px]"></div>
  </div>
  <div
    class="absolute text-black top-8 w-full h-full bg-transparent overflow-y-scroll"
  >
    <div></div>
    <!-- Your Content -->
    <div class="px-5 py-5">
      <h5 class="text-[28px] text-[#363636] font-bold mb-2">Activity logs</h5>
      <!-- search and others  -->

      <div class="flex gap-2">
        <div class="relative w-full">
          <input
            type="search"
            id="location-search"
            class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 border border-gray-300 focus:border-[#DCEBED]"
            placeholder="Search"
          />
          <button
            type="submit"
            class="absolute top-0 end-0 h-full p-2.5 text-sm font-medium text-white border focus:ring-4 focus:outline-none"
          >
            <ion-icon
              name="search-outline"
              class="text-2xl text-[#007382]"
            ></ion-icon>
          </button>
        </div>
      </div>

      @for (item of sapLogs; track $index) {
      <div class="mx-w-auto py-4 flex items-center gap-3">
        <ion-icon
          name="chevron-down-circle-outline"
          class="text-2xl text-[#007382]"
        ></ion-icon>
        <span class="text-[20px] text-[#007382] font-bold">
          {{ item?.date }}
        </span>
      </div>
      <div class="max-w-full mr-6 ml-10">
        <div class="flex max-h-auto min-h-[20px]">
          <div class="flex w-full">
            <div class="flex flex-col justify-center w-full">
              <div class="flex items-center gap-2 w-[200px]">
                <div
                  class="w-6 h-6 bg-[#0073820D] rounded-full mt-1 flex items-center justify-center"
                >
                  <div class="w-2 h-2 bg-[#007382] rounded-full"></div>
                </div>
                <div class="text-[16px] text-[#8BAEB2] mx-5">
                  {{ item.time }}
                </div>
              </div>
              <div class="flex items-center gap-3">
                <div class="h-[80%] border-l-2 border-[#007382] mx-3"></div>
                <div class="ml-4 w-full">
                  <p
                    class="text-black flex-1 bg-[#EDF5F5] border border-[#007382] rounded-sm shadow-md px-4 py-2 text-[20px]"
                  >
                    Total initialized assets: {{ item.size }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
