.borderColor {
  border-color: #edf5f5;
}
.CardBgColor {
  background-color: #edf5f5;
}
.shadowpart1 {
  opacity: 1;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.shadowpart2 {
  opacity: 1;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.imagebox {
  background-color: #fff;
  border-color: #007382;
}

ion-radio::part(container) {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  transform: none;
  background: none;
  transition: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #007382;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 10px;
  height: 15px;
  margin-bottom: 5px;
  border-color: #fff;
  border-style: solid;
  transform: rotate(45deg);
  border-width: 0px 2px 2px 0px;
}
.bgEditBtn {
  background-color: #007382;
}

ion-checkbox {
  --size: 35px;
  --checkbox-background-checked: #007382;
  --checkbox-background: #edf5f5;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #007382;
}

.selectAll {
  --checkbox-background: #ffffff;
}
ion-backdrop {
  background: var(--ion-color-dark);
  opacity: 0.6;
  z-index: 40;
}
