<div
  class="fixed w-full bottom-0 h-2/3 rounded-[32px] shadow-lg bg-transparent transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen ? 'translate-y-[calc(100%+40px)]' : ''"
>
  <div class="h-full w-full flex">
    <div class="h-full w-[calc(100%-125px)] bg-white rounded-tl-[32px]"></div>
    <div class="">
      <svg
        height="34"
        viewBox="0 0 100 50"
        width="68"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto h-full bg-white relative">
        <div
          class="absolute ml-[7px] -top-[62px] cursor-pointer w-[54px] h-[54px] bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-4xl fill-white" name="close"> </ion-icon>
        </div>
      </div>
    </div>
    <div class="h-full bg-white flex-grow rounded-tr-[32px]"></div>
  </div>
  <div
    class="absolute text-black top-8 w-full h-full bg-transparent overflow-y-scroll"
  >
    <div></div>
    <!-- Your Content -->
    <div class="px-5 py-5">
      <h5 class="text-[28px] text-[#363636] font-bold mb-2">
        2. Add Header Information
        <ion-text color="danger">*</ion-text>
        <span
          class="text-[14px] text-white bg-[#009146] font-thin mx-2 px-2 py-1 rounded-sm"
          >OPEN</span
        >
      </h5>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <!-- <ion-input
              required
              fill="outline"
              color="primary"
              inputmode="text"
              placeholder="dd/mm/yyyy"
              labelPlacement="floating"
              errorText="Asset name required"
            >
              <ion-label slot="label">
                Date
                <ion-text color="danger">*</ion-text>
              </ion-label>
            </ion-input> -->
            <ion-input
              class="relative"
              required
              fill="outline"
              color="primary"
              inputmode="date"
              labelPlacement="floating"
              errorText="Date required"
              type="date"
            >
              <ion-label class="" slot="label">
                Date
                <ion-text color="danger">*</ion-text>
              </ion-label></ion-input
            >
          </ion-col>
          <ion-col size="6">
            <ion-select
              interface="popover"
              class="relative"
              required
              fill="outline"
              color="primary"
              inputmode="text"
              placeholder="Select..."
              labelPlacement="floating"
              errorText="Asset name required"
            >
              <div slot="label">
                Type of assessment
                <ion-text color="danger">*</ion-text>
              </div>
              <ion-select-option value="apple">Annual</ion-select-option>
              <ion-select-option value="banana">Daily</ion-select-option>
              <ion-select-option value="orange">Weekly</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col size="12">
            <div class="relative">
              <select
                id="floating_outlined_select"
                class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-[#3CB4AA] peer focus:outline-none focus:border-[#3CB4AA]"
                placeholder="kdfjdpojkf"
              >
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
              </select>
              <label
                for="floating_outlined_select"
                class="absolute text-sm text-black duration-200 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-black peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
              >
                Floating outlined
              </label>
            </div>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col size="12">
            <ion-textarea
              class="relative caret-yellow-300"
              required
              fill="outline"
              color="primary"
              inputmode="text"
              placeholder="Type here max 250 words"
              labelPlacement="floating"
              errorText="Asset name required"
            >
              <ion-label class="bg-white pr-1" slot="label">
                Scope of audit
                <ion-text color="danger">*</ion-text>
              </ion-label>

              <div
                class="absolute top-0 right-0 w-8 h-8 bg-white flex justify-center items-center rounded-tl-xl rounded-br-xl z-20 overflow-hidden"
              >
                <div
                  class="relative -top-[5px] -right-[5px] w-8 h-8 bg-white rounded-full border border-[#3CB4AA] flex justify-center items-center"
                >
                  <button
                    class="w-[22px] h-[22px] bg-[#3CB4AA] rounded-full"
                  ></button>
                </div>
              </div>
            </ion-textarea>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <div
              class="w-full h-[80px] px-[17px] bg-[#EDF5F5] rounded-[4px] flex items-center justify-between relative"
            >
              <ion-label class="text-[24px]" slot="label">
                Lead author
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <div class="wrap" [class]="authorSearch == true ? 'active' : ''">
                <form>
                  <input
                    type="text"
                    class="input"
                    [class]="authorSearch == true ? 'active' : ''"
                    placeholder="search . . ."
                  />
                </form>
                <ion-icon
                  class="fa text-4xl"
                  color="secondary"
                  (click)="toggleAuthorSearch()"
                  name="search-outline"
                ></ion-icon>
              </div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div
              class="w-full min-h-[80px] px-[17px] bg-[#EDF5F5] rounded-[4px] flex items-center justify-between"
            >
              <ion-label class="text-[24px]" slot="label">
                Other team members
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <div
                class="wrap"
                [class]="teamMemberSearch == true ? 'active' : ''"
              >
                <form>
                  <input
                    type="text"
                    class="input"
                    [class]="teamMemberSearch == true ? 'active' : ''"
                    placeholder="search . . ."
                  />
                </form>
                <ion-icon
                  class="fa text-4xl"
                  color="secondary"
                  (click)="toggleTeamMemberSearch()"
                  name="search-outline"
                ></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row> </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
