<app-header headerTitle="Asset Mapped" [isDefaultHref]="true"></app-header>

<ion-content [fullscreen]="true" color="background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div
          class="max-w-full flex justify-between mx-auto bg-white border-b-[2px] shadowpart1"
        >
          <div class="font-[24px] font-gotham_medium p-4">Assets (2)</div>
          <div class="font-[24px] font-gotham_medium p-4 flex gap-3">
            <ion-text
              class="font-[32px] font-gotham_medium"
              [class]="toggleChecked ? 'toggleBefore' : 'toggleAfter'"
            >
              Registered
            </ion-text>

            <div>
              <ion-toggle
                mode="ios"
                class="customToggle"
                (ionChange)="handleToggle($event)"
              >
              </ion-toggle>
            </div>
            <ion-text
              class="font-[32px] font-gotham_medium"
              [class]="toggleChecked ? 'toggleAfter' : 'toggleBefore'"
            >
              Drafts
            </ion-text>
          </div>
        </div>

        <div class="max-w-full mx-auto bg-white p-4 shadowpart2">
          @defer (when !isLoading()) {
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-grid>
                  <ion-row>
                    @for (asset of assetss; track $index) {
                    <ion-col size="6">
                      <app-asset-mapped-card
                        [asset]="asset"
                        [plantId]="plantId"
                        [toggleChecked]="toggleChecked"
                        (isMenuToggleOpen)="handleErrorModal($event)"
                      >
                      </app-asset-mapped-card>
                    </ion-col>
                    } @empty {
                    <ion-col size="12">
                      <div
                        class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                      >
                        <h3 class="text-center">No assets found</h3>
                      </div>
                    </ion-col>
                    }
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
          }

          <!-- } @empty {
              <ion-col size="12">
                <div
                  class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                >
                  <h3 class="text-center">No assets found</h3>
                </div>
              </ion-col>
            }
          } @placeholder {
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
          } -->
          <!-- </div> -->

          <!-- <div class="max-w-full mx-auto bg-white p-4 shadowpart2">
          @defer (when !isLoading()) {
            @for (groupedAsset of groupedAssets; track $index) {
              @if (groupedAsset?.assets) {
                <ion-col size="12" sizeMd="6" sizeLg="6">
                  <ion-accordion-group
                    [multiple]="true"
                    [value]="[groupedAsset.assetParentType]"
                  >
                    <ion-accordion value="Silo">
                      @if (groupedAsset?.assets?.length != 0) {
                        <ion-item color="accordion" slot="header">
          
                          <ion-text class="flex gap-1">
                            <p class="text-[20px] font-gotham_medium">
                              {{ groupedAsset?.assetParentType }}
                            </p>
                            <span class="text-[20px] font-gotham-book">
                              ({{ groupedAsset?.assets?.length }} assets)
                            </span>
                          </ion-text>
                        </ion-item>

                        <ion-grid class="ion-no-padding" slot="content">
                          <ion-row
                            class="border-x-2 border-b-2 rounded-b-lg borderColor p-[5px]"
                          >
                            @for (asset of groupedAsset.assets; track $index) {
                              <ion-col
                                sizeMd="6"
                                sizeSm="6"
                                sizeLg="6"
                                class="p-[5px]"
                              >
                                <app-asset-mapped-card
                                  [asset]="asset"
                                  [plantId]="plantId"
                                  [toggleChecked]="toggleChecked"
                                >
                                </app-asset-mapped-card>
                              </ion-col>
                            }
                          </ion-row>
                        </ion-grid>
                      }
                    </ion-accordion>
                  </ion-accordion-group>
                </ion-col>
              }
            } @empty {
              <ion-col size="12">
                <div
                  class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                >
                  <h3 class="text-center">No assets found</h3>
                </div>
              </ion-col>
            }
          } @placeholder {
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
          }
        </div> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

@if (isMenuOpen) {
<app-asset-update-modal
  [isMenuOpen]="isMenuOpen"
  (isMenuToggleOpen)="handleErrorModal($event)"
></app-asset-update-modal>
} @if (isMenuOpen) {
<ion-backdrop [visible]="isMenuOpen"> </ion-backdrop>
}
