<app-header headerTitle="Asset Register" [isDefaultHref]="true"></app-header>

<ion-content [fullscreen]="true" color="background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div
          class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
        >
          <ion-label>Assets</ion-label>
          @defer (when !isLoading()) {
            @for (groupedAsset of groupedAssets; track $index) {
              <ion-col size="12" sizeMd="6" sizeLg="6">
                <ion-accordion-group>
                  <ion-accordion value="first">
                    <ion-item color="accordion" slot="header">
                      <ion-icon size="large" class="p-4 -ml-2" name="location-outline"></ion-icon>
                      <!-- <ion-img
                        class="w-6 mr-2"
                        src="../../../../../assets/icon/edit.svg"
                        alt=""
                      ></ion-img> -->
                      <ion-label class="font-bold">
                        {{ groupedAsset?.assetParentType }}
                        ({{ groupedAsset?.assets?.length }} assets)
                      </ion-label>
                    </ion-item>
                    <div
                      slot="content"
                      class="border-x-2 p-2 border-b-2 rounded-b-lg borderColor sm:grid md:grid md:grid-cols-2 md:gap-2 sm:gap-2"
                    >
                      @for (asset of groupedAsset.assets; track $index) {
                        <app-asset-mapped-card
                          [asset]="asset"
                        ></app-asset-mapped-card>
                      }
                    </div>
                  </ion-accordion>
                </ion-accordion-group>
              </ion-col>
            } @empty {
              @if (!isLoading()) {
                <ion-col size="12">
                  <div
                    class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                  >
                    <h3 class="text-center">No assets found</h3>
                  </div>
                </ion-col>
              }
            }
          } @placeholder {
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
          }
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
