.borderColor {
  border-color: #edf5f5;
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  border-radius: 6px;
}

ion-item {
  background: var(--unnamed-color-edf5f5) 0% 0% no-repeat padding-box;
  background: #edf5f5 0% 0% no-repeat padding-box;
}
