<app-header
  headerTitle="Asset Mapped"
  [isDefaultHref]="true"
  [isBackgroundTransparent]="false"
></app-header>

<ion-content [fullscreen]="true" color="background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div
          class="max-w-full flex justify-between mx-auto bg-white border-b-[2px] shadowpart1"
        >
          <div class="font-[24px] font-gotham_medium p-4">Assets (6)</div>
          <div
            class="font-[24px] font-gotham_medium p-4 flex gap-3 items-center justify-center"
          >
            <ion-text
              class="font-[32px] font-gotham_medium"
              [class]="toggleChecked ? 'toggleBefore' : 'toggleAfter'"
            >
              Registered
            </ion-text>

            <div class="flex items-center justify-center">
              <ion-toggle
                mode="ios"
                class="customToggle"
                [checked]="toggleChecked"
                (ionChange)="handleToggle($event)"
              ></ion-toggle>
            </div>
            <ion-text
              class="font-[32px] font-gotham_medium"
              [class]="toggleChecked ? 'toggleAfter' : 'toggleBefore'"
            >
              Drafts
            </ion-text>

            <ion-button
              fill="outline"
              shape="round"
              color="primary"
              class="mr-2 w-32"
              (click)="handleFilterModal($event)"
            >
              <div class="flex mx-auto">
                <ion-text
                  class="font-gotham_medium text-[12px]"
                  color="primary"
                >
                  Filter
                </ion-text>
                <ion-icon
                  class="ml-2"
                  slot="icon-only"
                  src="../../../assets/Filter.svg"
                ></ion-icon>
              </div>
            </ion-button>
          </div>
        </div>

        <div class="max-w-full mx-auto bg-white p-4 shadowpart2">
          @defer (when !isLoading()) {
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-grid>
                    <ion-row>
                      @if (toggleChecked && draftAssets) {
                        @if (draftFilteredAssets.length) {
                          @for (asset of draftFilteredAssets; track asset.id) {
                            <ion-col size="6">
                              <app-asset-mapped-card
                                [asset]="asset"
                                [plantId]="plantId"
                                [toggleChecked]="toggleChecked"
                                (getAssetId)="handleAssetId($event)"
                                (isMenuToggleOpen)="handleErrorModal($event)"
                              ></app-asset-mapped-card>
                            </ion-col>
                          } @empty {
                            <ion-col size="12">
                              <div
                                class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                              >
                                <h3 class="text-center">No assets found</h3>
                              </div>
                            </ion-col>
                          }
                        } @else {
                          @for (asset of draftAssets; track asset.id) {
                            <ion-col size="6">
                              <app-asset-mapped-card
                                [asset]="asset"
                                [plantId]="plantId"
                                [toggleChecked]="toggleChecked"
                                (getAssetId)="handleAssetId($event)"
                                (isMenuToggleOpen)="handleErrorModal($event)"
                              ></app-asset-mapped-card>
                            </ion-col>
                          } @empty {
                            <ion-col size="12">
                              <div
                                class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                              >
                                <h3 class="text-center">No assets found</h3>
                              </div>
                            </ion-col>
                          }
                        }
                      } @else if (!toggleChecked && registeredAssets) {
                        @for (asset of registeredAssets; track asset.id) {
                          <ion-col size="6">
                            <app-asset-mapped-card
                              [asset]="asset"
                              [plantId]="plantId"
                              [toggleChecked]="toggleChecked"
                              (getAssetId)="handleAssetId($event)"
                              (isMenuToggleOpen)="handleErrorModal($event)"
                            ></app-asset-mapped-card>
                          </ion-col>
                        } @empty {
                          <ion-col size="12">
                            <div
                              class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                            >
                              <h3 class="text-center">No assets found</h3>
                            </div>
                          </ion-col>
                        }
                      } @else {
                        <ion-col size="12">
                          <div
                            class="max-w-full mx-auto rounded-md bg-white p-4 shadow-[0px_0px_6px_0px_#0000002E]"
                          >
                            <h3 class="text-center">No assets found</h3>
                          </div>
                        </ion-col>
                      }
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          } @placeholder {
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
            <ion-col size="12" sizeMd="6" sizeLg="6">
              <app-loading-skeleton></app-loading-skeleton>
            </ion-col>
          }
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

@if (isFilterMenuOpen) {
  @if (toggleChecked && draftAssets) {
    <app-asset-mapped-filter-modal
      [assets]="draftAssets"
      [isFilterMenuOpen]="isFilterMenuOpen"
      (isFilterToggleOpen)="handleFilterModal($event)"
      (filterByTypes)="handlefilterby($event)"
    ></app-asset-mapped-filter-modal>
  } @else {
    <app-asset-mapped-filter-modal
      [assets]="registeredAssets"
      [isFilterMenuOpen]="isFilterMenuOpen"
      (isFilterToggleOpen)="handleFilterModal($event)"
      (filterByTypes)="handlefilterby($event)"
    ></app-asset-mapped-filter-modal>
  }
}

@if (isApprovalMenuOpen) {
  <app-asset-approval-modal
    [assetID]="assetId"
    [isApprovalMenuOpen]="isApprovalMenuOpen"
    (isMenuToggleOpen)="handleErrorModal($event)"
  ></app-asset-approval-modal>
}

@if (isFilterMenuOpen) {
  <ion-backdrop [visible]="isFilterMenuOpen"></ion-backdrop>
}

@if (isApprovalMenuOpen) {
  <ion-backdrop [visible]="isApprovalMenuOpen"></ion-backdrop>
}
