.borderColor {
  border-color: #edf5f5;
}
.shadowpart1 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  opacity: 1;
}
.shadowpart2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 4px 6px 0px #0000002e;
  opacity: 1;
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  border-radius: 6px;
}

ion-item {
  background: #edf5f5 0% 0% no-repeat padding-box;
  background: var(--unnamed-color-edf5f5) 0% 0% no-repeat padding-box;
}

.toggleBefore {
  color: #97c0c3;
}
.toggleAfter {
  color: #007382;
}

.customToggle {
  border-radius: 20px;
  border: 2px solid #007382;
}
ion-toggle {


  --handle-width: 20px;
  --handle-height: 20px;
  --handle-spacing: 3px;
  --track-background: #ffffff;
  --handle-background: #007382;
  --track-background-checked: #ffffff;
  --handle-background-checked: #007382;
}

ion-toggle::part(track) {
  width: 45px;
  height: 25px;
}
