/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4ca1b1;
  --ion-color-primary-tint: #5eaab9;
  --ion-color-primary-shade: #438e9c;
  --ion-color-primary-rgb: 76, 161, 177;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;

  /** secondary **/
  --ion-color-secondary: #007382;
  --ion-color-secondary-tint: #1a818f;
  --ion-color-secondary-rgb: 0, 115, 130;
  --ion-color-secondary-shade: #006572;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-tint: #42d77d;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-tint: #ffca22;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;

  /** danger **/
  --ion-color-danger: #f00014;
  --ion-color-danger-rgb: 240, 0, 20;
  --ion-color-danger-tint: #f21a2c;
  --ion-color-danger-shade: #d30012;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;

  /** grey **/
  --ion-color-grey: #00000033;
  --ion-color-grey-rgb: 0, 0, 51;
  --ion-color-grey-contrast: #ffffff;
  --ion-color-grey-contrast-rgb: 255, 255, 255;
  --ion-color-grey-shade: #00002d;
  --ion-color-grey-tint: #1a1a47;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;

  /** background color **/
  --ion-color-background: #f5feff;
  --ion-color-background-tint: #f6feff;
  --ion-color-background-shade: #d8e0e0;
  --ion-color-background-rgb: 245, 254, 255;
  --ion-color-background-contrast: #000000;
  --ion-color-background-contrast-rgb: 0, 0, 0;

  /** accordion **/
  --ion-color-accordion: #edf5f5;
  --ion-color-accordion-tint: #eff6f6;
  --ion-color-accordion-shade: #d1d8d8;
  --ion-color-accordion-rgb: 237, 245, 245;
  --ion-color-accordion-contrast: #000000;
  --ion-color-accordion-contrast-rgb: 0, 0, 0;

  /** black **/
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-tint: #1a1a1a;
  --ion-color-black-shade: #000000;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;

  /** asset approval pending **/
  --ion-color-approvalpending: #ffd200;
  --ion-color-approvalpending-tint: #ffd71a;
  --ion-color-approvalpending-shade: #e0b900;
  --ion-color-approvalpending-rgb: 255, 210, 0;
  --ion-color-approvalpending-contrast: #000000;
  --ion-color-approvalpending-contrast-rgb: 0, 0, 0;

  /** Asset registeration pending **/
  --ion-color-registerationpending: #ff6e00;
  --ion-color-registerationpending-tint: #ff7d1a;
  --ion-color-registerationpending-shade: #e06100;
  --ion-color-registerationpending-rgb: 255, 110, 0;
  --ion-color-registerationpending-contrast: #000000;
  --ion-color-registerationpending-contrast-rgb: 0, 0, 0;

  /** Asset rejected by approver **/
  --ion-color-rejected: #f00014;
  --ion-color-rejected-tint: #f21a2c;
  --ion-color-rejected-shade: #d30012;
  --ion-color-rejected-rgb: 240, 0, 20;
  --ion-color-rejected-contrast: #000000;
  --ion-color-rejected-contrast-rgb: 0, 0, 0;

  /** asset Deletion ApprovalPending **/
  --ion-color-textwhite: #ffffff;
  --ion-color-textwhite-tint: #ffffff;
  --ion-color-textwhite-shade: #e0e0e0;
  --ion-color-textwhite-contrast: #000000;
  --ion-color-textwhite-rgb: 255, 255, 255;
  --ion-color-textwhite-contrast-rgb: 0, 0, 0;

  // asset approved
  --ion-color-assetapproved: #009146;
  --ion-color-assetapproved-rgb: 0, 145, 70;
  --ion-color-assetapproved-contrast: #000000;
  --ion-color-assetapproved-contrast-rgb: 0, 0, 0;
  --ion-color-assetapproved-shade: #00803e;
  --ion-color-assetapproved-tint: #1a9c59;

  /** Ionic Input Outline **/
  --ion-color-input: #3cb4aa;
  --ion-color-input-tint: #50bcb3;
  --ion-color-input-shade: #359e96;
  --ion-color-input-rgb: 60, 180, 170;
  --ion-color-input-contrast: #000000;
  --ion-color-input-contrast-rgb: 0, 0, 0;
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
