/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4ca1b1;
  --ion-color-primary-tint: #5eaab9;
  --ion-color-primary-shade: #438e9c;
  --ion-color-primary-rgb: 76, 161, 177;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;

  /** secondary **/
  --ion-color-secondary: #007382;
  --ion-color-secondary-tint: #1a818f;
  --ion-color-secondary-rgb: 0, 115, 130;
  --ion-color-secondary-shade: #006572;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-tint: #42d77d;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-tint: #ffca22;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-tint: #ed576b;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;

  /** background color **/
  --ion-color-background: #f5feff;
  --ion-color-background-tint: #f6feff;
  --ion-color-background-shade: #d8e0e0;
  --ion-color-background-rgb: 245, 254, 255;
  --ion-color-background-contrast: #000000;
  --ion-color-background-contrast-rgb: 0, 0, 0;

  /** accordion **/
  --ion-color-accordion: #edf5f5;
  --ion-color-accordion-tint: #eff6f6;
  --ion-color-accordion-shade: #d1d8d8;
  --ion-color-accordion-rgb: 237, 245, 245;
  --ion-color-accordion-contrast: #000000;
  --ion-color-accordion-contrast-rgb: 0, 0, 0;

  /** black **/
  --ion-color-black: #000000;
  --ion-color-black-rgb: 0, 0, 0;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #000000;
  --ion-color-black-tint: #1a1a1a;
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
