<app-header
  class="z-20 fixed w-full"
  headerTitle="Bird eye view"
  [isDefaultHref]="true"
  [isBackgroundTransparent]="false"
></app-header>

@if (isChildOpen() == true) {
  <ion-backdrop class="z-10" [visible]="true"></ion-backdrop>
}

<!-- Content -->
<ion-content [fullscreen]="true">
  <div class="h-full w-full overflow-scroll bg-gray-200">
    <!-- Content Body -->
    <div
      (dndDrop)="onDrop($event)"
      dndDropzone
      #mapRef
      class="maps"
      id="map"
    ></div>
  </div>
</ion-content>

<!-- <div class="absolute pt-48 px-4">
  <div class="mx-auto">
    <div
      class="mx-auto mt-3 text-3xl h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden cursor-pointer"
      (click)="toggleChildMenu()"
      id="open-custom-dialog"
    >
      <img
        class="object-cover w-full h-full"
        src="../../../assets/Silo.png"
        alt="silo"
      />
    </div>
    <div class="w-full text-xs text-center mt-1">
      <span class="text-[#000000DE]">Silo</span>
    </div>
  </div>
</div> -->

<!-- Side bar Save Button -->
<button class="fixed bottom-[35px] right-[84px] z-50">
  <ion-icon
    class="bg-[#007382] text-white text-3xl p-3 rounded-full"
    [class]="isAssetInfoMenuOpen() ? 'invisible' : 'visible'"
    name="save-outline"
  ></ion-icon>
</button>

<!-- Delete Button -->
<button
  dndDropzone
  (dndDrop)="deleteOnDrop($event)"
  class="fixed bottom-[35px] left-[50px] z-50"
>
  <ion-icon
    name="trash-bin-outline"
    [class]="isAssetInfoMenuOpen() ? 'invisible' : 'visible'"
    class="bg-white border-2 border-[#007382] text-[#007382] text-xl p-[15.4px] rounded-full"
  ></ion-icon>
</button>

<!-- Asset Info modal controller button -->
<!-- <button
  class="fixed bottom-11 right-64 bg-gray-600 p-2 rounded-xl z-50"
  (click)="toggleInfoMenu()"
>
  asset info menu
</button> -->

<!-- Sub Asset MODAL -->
@if (isChildOpen()) {
  <app-sub-asset-modal
    [(childAsset)]="childAsset"
    (click)="closeSubAssetModal()"
    [(activeIndex)]="subAssetActiveIndex"
    [recievedDraggedAsset]="dragRecieved()"
    [(isAssetInfoMenuOpen)]="isAssetInfoMenuOpen"
  ></app-sub-asset-modal>
}

<!-- Asset info menu -->
<app-asset-info-menu
  [(assetDummy)]="childAsset"
  [(isMenuOpen)]="isAssetInfoMenuOpen"
  [(subAssetActiveIndex)]="subAssetActiveIndex"
></app-asset-info-menu>

<!-- Sub-Assets sidebar -->
<app-sub-asset-sidebar
  [(selectedAsset)]="selectedAsset"
  [(isMenuOpen)]="isSubAssetModalOpen"
  (draggedAsset)="sendDraggedSubAsset($event)"
></app-sub-asset-sidebar>

<!-- Asset Sidebar -->
<app-asset-sidebar
  [assetData]="groupedAssets"
  [(isChildOpen)]="isChildOpen"
  [(isMenuOpen)]="isAssetInfoMenuOpen"
  [(activeIndex)]="assetModalActiveIndex"
  (selectedAsset)="onAssetReceived($event)"
></app-asset-sidebar>
