<app-header class="z-20 fixed w-full" headerTitle="Bird eye view"></app-header>

@if (isChildOpen() == true) {
<ion-backdrop class="z-10" [visible]="true"> </ion-backdrop>
}

<!-- Content -->
<ion-content [fullscreen]="true">
  <div class="h-full w-full overflow-scroll bg-gray-300">
    <!-- Content Body -->
    <map-view></map-view>
  </div>
</ion-content>

<div class="absolute pt-48 px-4">
  <div class="mx-auto">
    <div
      class="mx-auto mt-3 text-3xl h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden cursor-pointer"
      (click)="toggleChildMenu()"
      id="open-custom-dialog"
    >
      <img
        class="object-cover w-full h-full"
        src="../../../assets/silo.png"
        alt="silo"
      />
    </div>
    <div class="w-full text-xs text-center mt-1">
      <span class="text-[#000000DE]">Silo</span>
    </div>
  </div>
</div>

<!-- Side bar Toggle Button -->
<button class="fixed bottom-[35px] right-[84px] z-50">
  <ion-icon
    class="bg-[#007382] text-white text-3xl p-3 rounded-full"
    [class]="isAssetInfoMenuOpen() ? 'invisible' : 'visible'"
    name="save-outline"
  ></ion-icon>
</button>

<!-- Delete Button -->
<button class="fixed bottom-[35px] left-[50px] z-50">
  <ion-icon
    class="bg-white border-2 border-[#007382] text-[#007382] text-xl p-[15.4px] rounded-full"
    [class]="isAssetInfoMenuOpen() ? 'invisible' : 'visible'"
    name="trash-bin-outline"
  ></ion-icon>
</button>

<!-- Asset Info modal controller button -->
<button
  class="fixed bottom-11 right-64 bg-gray-600 p-2 rounded-xl z-50"
  (click)="toggleInfoMenu()"
>
  asset info menu
</button>

<!-- CHILD MODAL -->
@if (isChildOpen()) {
<app-child-asset-modal
  [(isAssetInfoMenuOpen)]="isAssetInfoMenuOpen"
></app-child-asset-modal>
}

<!-- Asset info menu -->
<app-asset-info-menu [(isMenuOpen)]="isAssetInfoMenuOpen"></app-asset-info-menu>

<!-- Sub-Assets Modal -->
<app-sub-asset-modal
  [(isMenuOpen)]="isSubAssetModalOpen"
  [(selectedAsset)]="selectedAsset"
></app-sub-asset-modal>

<!-- Sidebar -->
<app-asset-modal
  [(isMenuOpen)]="isAssetInfoMenuOpen"
  [(isChildOpen)]="isChildOpen"
  [assetData]="groupedAssets"
  (selectedAsset)="onAssetReceived($event)"
></app-asset-modal>
