ion-segment-button::part(indicator-background) {
  display: none;
}
ion-segment-button::part(native) {
  color: transparent !important;
}
.hidden-content {
  display: none;
}

.custom {
  opacity: 1;
  border: 5px;
  border-radius: 32px 32px 0 0;
  box-shadow: 0px 3px 8px #00000029;
  background: transparent 0% 0% no-repeat padding-box;
}

ion-segment ion-segment-button.segment-button-checked {
  .hidden-content {
    display: inline;
  }
  .segment-change {
    width: 500px;
    display: flex;
    align-items: center;
    background-color: #007382;
  }
  .image {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%)
      hue-rotate(19deg) brightness(103%) contrast(101%);
  }
}
.segment-change {
  width: 66px;
  height: 66px;
  background-color: #d6eaeb;
}

.iconBg {
  background-color: #3cb4aa33;
}

span {
  font-style: bold;
  color: red;
}

.cardIcon {
  background-color: #007382;
}

ion-button[disabled] {
  --ion-color-base: #32808e !important;
}

.rejectCard {
  background-color: #fdd1d4;
}

.RejectSelect {
  ion-select::part(icon) {
    color: red !important;
  }

  ion-select[fill="outline"] {
    --border-color: red;
    background-color: #ffffff;
  }
}
.bgRejectBtn {
  background-color: #ffffff;
  border: solid red 2px;
}

.bgacceptBtn {
  background-color: red;
  border: solid red 2px;
}

.categoryBg {
  background-color: #edf5f5;
}

ion-icon.active {
  .svg {
    color: #007382;
  }

  align-items: center;
  border-color: #007382;
  background-color: #edf5f5;
}

.scrollrow {
  justify-content: flex-start; // changed
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}
