<app-header headerTitle="Bulk Approval" [isDefaultHref]="true"></app-header>

<ion-content [fullscreen]="true" color="background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div
          class="max-w-full flex justify-between mx-auto bg-white border-b-[2px] shadowpart1"
        >
          <div class="font-[24px] font-gotham_medium p-4">Assets (6)</div>
          <div class="font-[24px] font-gotham_medium p-4 flex gap-3"></div>
        </div>

        <div class="max-w-full mx-auto bg-white p-4 shadowpart2">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <div class="w-full">
                  <div class="border rounded CardBgColor">
                    <ion-grid class="">
                      <ion-row class="flex items-center justify-center">
                        <ion-col size="1.2">
                          <div
                            class="p-2 flex ion-align-items-center ion-justify-content-center"
                          >
                            <div>
                              <div
                                class="p-2 h-16 w-16 border-2 imagebox rounded-md"
                              >
                                <ion-img
                                  src="../../../assets/element-image/silo.png"
                                ></ion-img>
                              </div>
                            </div>
                          </div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div>
                            <ion-text
                              color="black"
                              class="font-gotham_light text-[14px]"
                            >
                              Asset type
                            </ion-text>
                          </div>
                          <div>
                            <ion-text
                              color="black"
                              class="font-gotham_medium text-[16px]"
                            >
                              Hopper
                            </ion-text>
                          </div>
                        </ion-col>
                        <ion-col size="3.3">
                          <div>
                            <ion-text
                              color="black"
                              class="font-gotham_light text-[14px]"
                            >
                              Asset name
                            </ion-text>
                          </div>
                          <div>
                            <ion-text
                              color="black"
                              class="font-gotham_medium text-[16px]"
                            >
                              Hopper situated near silo zone 1
                            </ion-text>
                          </div>
                        </ion-col>
                        <ion-col size="3">
                          <div class="my-1 -mt-1">
                            <ion-text class="text-[14px] font-gotham_light">
                              Status
                            </ion-text>
                          </div>

                          <div class="">
                            <ion-badge color="approvalpending" class="p-2">
                              <ion-text
                                color="black"
                                class="text-[14px] font-gotham_medium"
                              >
                                <p>Asset Approval Pending</p>
                              </ion-text>
                            </ion-badge>
                          </div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div>
                            <div class="my-1 -mt-1">
                              <ion-text class="text-[14px] font-gotham_light">
                                source
                              </ion-text>
                            </div>
                            <div class="">
                              <ion-badge class="p-2 sourceBadge">
                                <ion-text
                                  color="black"
                                  class="text-[14px] font-gotham_medium"
                                >
                                  <p>SAP</p>
                                </ion-text>
                              </ion-badge>
                            </div>
                          </div>
                        </ion-col>
                        <ion-col size="1.5">
                          <div class="flex items-center justify-center gap-8">
                            <div
                              class="inline-flex items-center bgEditBtn justify-center w-10 h-10 rounded-full"
                            >
                              <ion-icon
                                color="white"
                                name="eye-outline"
                              ></ion-icon>
                            </div>
                            <ion-radio-group value="custom-checked">
                              <ion-radio
                                
                                value="custom-checked"
                                aria-label="Custom checkbox that is checked"
                              ></ion-radio>
                            </ion-radio-group>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
