.CardBgColor {
  background-color: #edf5f5;
  border-color: #edf5f5;
}

.deleterequest {
  background-color: #fff0f2;
  border-color: red;
}
.approverbgEditBtn {
  background-color: #c2dddd;
}
.decomissionbtn {
  background-color: #ffc6cb;
}

.bgEditBtn {
  background-color: #007382;
}
.bgDeleteBtn {
  background-color: #0073824d;
}
.deletePending {
  background-color: #c6c6c6;
}
.customBorder {
  opacity: 1;
  border-radius: 2px;
  border: 1px solid #f00014;
  background: #f00014 0% 0% no-repeat padding-box;
}
.customBorderY {
  opacity: 1;
  border-radius: 2px;
  background: #ffd200 0% 0% no-repeat padding-box;
}
.customBorderO {
  opacity: 1;
  border-radius: 2px;
  background: #ff6e00 0% 0% no-repeat padding-box;
}

ion-badge {
  text-transform: none;
}

.imagebox {
  background-color: #fff;
  border-color: #007382;
}

.errorbox {
  background-color: #fff;
  border-color: red;
}
.sourceBadge {
  background-color: #bec4c4;
}

.deletetext {
  color: red;
}
.primarycolor {
  color: #007382;
}

.primarycolor {
  color: #007382;
}

.customDashed {
  border-color: #c0d5d5;
}

.customDashedDelete {
  border-color: red;
}
