<ion-grid class="">
  <ion-row class="Color p-1 border rounded">
    <ion-col size="3">
      <div class="">
        <div class="md:text-[12px] text-[10px]">Asset Name</div>
        <div class="md:text-[12px] sm:text-[10px] font-bold text-[10px]">
          Silo 1
        </div>
      </div>
    </ion-col>

    <ion-col size="6">
      <div class="">
        <div class="md:text-[12px] text-[10px]">Status</div>
        <div class="inline-flex">
          <div
            class="md:text-[10px] text-[8px] p-[4px] border DynamicTextclass bg-orange-500 rounded"
          >
            Asset approved pending
          </div>
        </div>
      </div>
    </ion-col>

    <ion-col size="3">
      <div class="flex mt-2 md:mr-2 sm:mr-1 gap-1 -m-3">
        <div>
          <button
            class="inline-flex items-center bgEdit justify-center sm:w-8 sm:h-8 md:w-8 md:h-8 w-6 h-6 mr-2 rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              class="h-3 fill-white w-3 md:h-4 md:w-4"
            >
              <path
                d="M22.853,1.148a3.626,3.626,0,0,0-5.124,0L1.465,17.412A4.968,4.968,0,0,0,0,20.947V23a1,1,0,0,0,1,1H3.053a4.966,4.966,0,0,0,3.535-1.464L22.853,6.271A3.626,3.626,0,0,0,22.853,1.148ZM5.174,21.122A3.022,3.022,0,0,1,3.053,22H2V20.947a2.98,2.98,0,0,1,.879-2.121L15.222,6.483l2.3,2.3ZM21.438,4.857,18.932,7.364l-2.3-2.295,2.507-2.507a1.623,1.623,0,1,1,2.295,2.3Z"
              />
            </svg>
          </button>
        </div>

        <div>
          <button
            class="inline-flex items-center bgDelete justify-center sm:w-8 sm:h-8 md:w-8 md:h-8 w-6 h-6 mr-2 rounded-full"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              class="h-3 w-3 md:h-4 md:w-4"
            >
              <path
                d="M21,4H17.9A5.009,5.009,0,0,0,13,0H11A5.009,5.009,0,0,0,6.1,4H3A1,1,0,0,0,3,6H4V19a5.006,5.006,0,0,0,5,5h6a5.006,5.006,0,0,0,5-5V6h1a1,1,0,0,0,0-2ZM11,2h2a3.006,3.006,0,0,1,2.829,2H8.171A3.006,3.006,0,0,1,11,2Zm7,17a3,3,0,0,1-3,3H9a3,3,0,0,1-3-3V6H18Z"
              />
              <path
                d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18Z"
              />
              <path
                d="M14,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z"
              />
            </svg>
          </button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
