<div class="w-full">
  <div class="border rounded CardBgColor">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12" sizeMd="3" sizeLg="3" sizeSm="12" class="my-auto">
          <div class="p-[5px]">
            <ion-text
              class="text-[12px] sm:text-[12px] md:text-[10px] lg:text-[12px] font-gotham_light block"
            >
              Asset Name
            </ion-text>
            <ion-text
              class="text-[14px] sm:text-[14px] md:text-[10px] lg:text-[14px] font-gotham_medium"
            >
              {{ asset.assetInfo?.assetName }}
            </ion-text>
          </div>
        </ion-col>
        <ion-col
          size="12"
          sizeMd="9"
          sizeLg="9"
          sizeSm="12"
          class="ion-no-padding"
        >
          <ion-grid>
            <ion-row
              class="ion-no-padding ion-align-items-center ion-justify-content-center"
            >
              <ion-col size="8" class="ion-no-padding -mt-[3px]">
                <div>
                  <ion-text
                    class="text-[12px] sm:text-[12px] md:text-[10px] lg:text-[11px] font-gotham_light"
                  >
                    Status
                  </ion-text>
                  <div>
                    @switch (true) {
                      @case (asset.assetRegisteredStatus?.assetDeleted) {
                        <ion-badge color="" class="p-1">
                          <ion-text
                            color="black"
                            class="text-[10px] md:text-[8.5px] lg:text-[11px] font-gotham_medium"
                          >
                            <p>Asset Deleted</p>
                          </ion-text>
                        </ion-badge>
                      }
                      @case (
                        asset.assetRegisteredStatus
                          ?.assetDeletionApprovalPending
                      ) {
                        <ion-badge
                          color="textwhite"
                          class="p-1 border-2 border-red-500"
                        >
                          <ion-text
                            color="danger"
                            class="text-[10px] md:text-[8.5px] lg:text-[11px] font-gotham_medium"
                          >
                            <p>Asset Deletion Approval Pending</p>
                          </ion-text>
                        </ion-badge>
                      }

                      @case (asset.assetRegisteredStatus?.assetInDraft) {
                        <ion-badge color="" class="p-1">
                          <ion-text
                            color="black"
                            class="text-[10px] md:text-[8.5px] lg:text-[11px] font-gotham_medium"
                          >
                            <p>Asset in Draft</p>
                          </ion-text>
                        </ion-badge>
                      }

                      @case (
                        asset.assetRegisteredStatus?.assetPendingForApproval
                      ) {
                        <ion-badge
                          color="approvalpending"
                          class="p-[5px] customBorderY"
                        >
                          <ion-text
                            color="black"
                            class="text-[10px] md:text-[8.5px] lg:text-[11px] font-gotham_medium"
                          >
                            <p>Asset Approval Pending</p>
                          </ion-text>
                        </ion-badge>
                      }

                      @case (asset.assetRegisteredStatus?.assetApproved) {
                        <ion-badge
                          color="registerationpending"
                          class="p-[5px] customBorderO"
                        >
                          <ion-text
                            color="textwhite"
                            class="text-[10px] md:text-[8.5px] lg:text-[11px] font-gotham_medium"
                          >
                            <p>Asset Registeration Pending</p>
                          </ion-text>
                        </ion-badge>
                      }

                      @case (
                        asset.assetRegisteredStatus?.assetRejectedByApprover
                      ) {
                        <ion-badge
                          color="rejected"
                          class="p-[5px] customBorder"
                        >
                          <ion-text
                            color="textwhite"
                            class="text-[10px] md:text-[8.5px] lg:text-[11px] font-gotham_medium"
                          >
                            <p>Asset Rejected by the Approval</p>
                          </ion-text>
                        </ion-badge>
                      }
                    }
                  </div>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-no-padding">
                <div class="flex ion-justify-content-around">
                  <button
                    class="p-[5px] inline-flex items-center bgEditBtn justify-center w-8 h-8 rounded-full"
                  >
                    <ion-icon src="../../../assets/icon/asset-icons/edit.svg">
                    </ion-icon>
                  </button>
                  <button
                    class="p-[5px] inline-flex items-center bgDeleteBtn justify-center w-8 h-8 rounded-full"
                  >
                    <ion-icon src="../../../assets/icon/asset-icons/delete.svg">
                    </ion-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
