<ion-grid class="">
  <ion-row class="CardBgColor p-1 border rounded">
    <ion-col size="3" class="my-auto">
      <div class="md:text-[12px] text-[10px]">Asset Name</div>
      <div class="md:text-[12px] font-bold text-[10px]">
        {{ asset.assetInfo?.assetName }}
      </div>
    </ion-col>

    <ion-col size="6" class="my-auto">
      <div>
        <div class="md:text-[12px] text-[10px]">Status</div>
        <div class="inline-flex">
          @switch (true) {
            @case (asset.assetRegisteredStatus?.assetDeleted) {
              <ion-badge color="" class="p-1">
                <ion-text color="black" class="text-[12px] font-gotham_medium">
                  <p>Asset Deleted</p>
                </ion-text>
              </ion-badge>
            }
            @case (asset.assetRegisteredStatus?.assetDeletionApprovalPending) {
              <ion-badge
                color="decommissionrequested"
                class="p-1 border-2 border-red-500"
              >
                <ion-text color="danger" class="text-[12px] font-gotham_medium">
                  <p>Asset Deletion Approval Pending</p>
                </ion-text>
              </ion-badge>
            }

            @case (asset.assetRegisteredStatus?.assetInDraft) {
              <ion-badge color="" class="p-1">
                <ion-text color="black" class="text-[12px] font-gotham_medium">
                  <p>Asset in Draft</p>
                </ion-text>
              </ion-badge>
            }

            @case (asset.assetRegisteredStatus?.assetPendingForApproval) {
              <ion-badge color="approvalpending" class="p-1">
                <ion-text color="black" class="text-[12px] font-gotham_medium">
                  <p>Asset Approval Pending</p>
                </ion-text>
              </ion-badge>
            }

            @case (asset.assetRegisteredStatus?.assetApproved) {
              <ion-badge color="registerationpending" class="p-1">
                <ion-text
                  color="decommissionrequested"
                  class="text-[12px] font-gotham_medium"
                >
                  <p>Asset Registeration Pending</p>
                </ion-text>
              </ion-badge>
            }

            @case (asset.assetRegisteredStatus?.assetRejectedByApprover) {
              <ion-badge color="decommissionrequested" class="p-1 customBorder">
                <ion-text color="rejected">
                  <p class="text-[12px] font-gotham_medium">
                    Asset Rejected by the Approval
                  </p>
                </ion-text>
              </ion-badge>
            }
          }
        </div>
      </div>
    </ion-col>

    <ion-col size="3" class="my-auto">
      <div class="flex my-auto gap-1 justify-evenly">
        <div class="flex items-center">
          <button
            class="p-[5px] inline-flex items-center bgEditBtn justify-center sm:w-8 sm:h-8 md:w-8 md:h-8 w-6 h-6 mr-2 rounded-full"
          >
            <ion-icon src="../../../assets/icon/asset-icons/edit.svg">
            </ion-icon>
          </button>
        </div>

        <div class="text-center">
          <button
            class="p-[5px] inline-flex items-center bgDeleteBtn justify-center sm:w-8 sm:h-8 md:w-8 md:h-8 w-6 h-6 mr-2 rounded-full"
          >
            <ion-icon src="../../../assets/icon/asset-icons/delete.svg">
            </ion-icon>
          </button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
