<div
  class="relative overflow-hidden w-full p-3 bg-white shadow-[-2px_2px_8px_0px_#00000024] rounded-tl-md"
>
  <!-- Expand Button -->
  <div
    class="absolute top-0 right-0 w-16 h-16 rounded-full bg-slate-200 flex transform translate-x-2 -translate-y-2"
  >
    <a
      class="mx-auto my-auto w-12 h-12 rounded-full bg-[#007382] shadow-gray-400 shadow-md flex"
      href="/full-calendar"
    >
      <ion-icon
        src="../../../assets/calendar/expand-icon.svg"
        class="text-white mx-auto my-auto text-xl"
      ></ion-icon>
    </a>
  </div>

  <!-- Calendar Top Section -->
  <div class="flex justify-between flex-wrap mt-2 mb-4 mr-12">
    <div class="flex gap-4">
      <label class="text-xl text-black font-semibold">{{ currentMonth }}</label>
      <button class="w-8 h-8 bg-teal-500 rounded-full flex">
        <ion-icon
          src="../../../assets/calendar/calendar-plus.svg"
          class="mx-auto my-auto"
        ></ion-icon>
      </button>
    </div>
    <div class="flex gap-3 mr-4">
      <button
        (click)="previousMonth()"
        class="w-8 h-8 bg-cyan-50 hover:bg-cyan-100 rounded-full flex"
      >
        <ion-icon
          src="../../../assets/calendar/left-icon.svg"
          class="mx-auto my-auto"
        ></ion-icon>
      </button>
      <button
        (click)="nextMonth()"
        class="w-8 h-8 bg-cyan-50 hover:bg-cyan-100 rounded-full flex cursor-pointer"
      >
        <ion-icon
          src="../../../assets/calendar/right-icon.svg"
          class="mx-auto my-auto"
        ></ion-icon>
      </button>
    </div>
  </div>

  <hr class="mb-3 border-t-2 border-[#0073821A]" />

  <!-- The Calendar -->
  <div>
    <div class="grid grid-cols-7 gap-2">
      @for (day of days; track $index) {
        <div
          class="flex justify-center items-cente text-sm font-bold"
          [class]="isTodayDayName(day) ? 'text-[#007382]' : 'text-gray-400'"
        >
          {{ day }}
        </div>
      }
      @for (date of dates; track $index) {
        <div
          class="flex justify-center items-center p-2 font-semibold relative"
          [class]="
            isToday(date)
              ? 'w-8 h-8 mx-auto bg-[#007382] rounded-full text-white'
              : isDifferentMonth(date)
                ? 'text-slate-100'
                : 'text-gray-600'
          "
        >
          <span>
            {{ date }}
          </span>
          @if (hasNotes(date)) {
            <span
              class="absolute bottom-2 left-1/2 transform -translate-x-1/2 translate-y-2"
            >
              <div class="flex gap-0.5">
                <div class="w-2 h-2 rounded-full bg-red-500"></div>
                <div class="w-2 h-2 rounded-full bg-green-600"></div>
              </div>
            </span>
          }
        </div>
      }
    </div>
  </div>
</div>
