<ion-header>
  <ion-toolbar [color]="isBackgroundTransparent ? 'background' : 'primary'">
    @if (isDefaultHref) {
      <ion-buttons class="" slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    }
    @if (headerTitle) {
      <ion-title
        class="text-2xl font-bold"
        [color]="isBackgroundTransparent ? 'secondary' : 'light'"
        [class]="isDefaultHref ? 'ml-0' : 'ml-24'"
      >
        {{ headerTitle }}
      </ion-title>
    }
    @if (showIcons) {
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
            [class]="isBackgroundTransparent ? 'text-[#007382]' : 'text-white'"
            slot="icon-only"
            name="help-circle-outline"
          ></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon
            [class]="isBackgroundTransparent ? 'text-[#007382]' : 'text-white'"
            slot="icon-only"
            name="notifications-outline"
          ></ion-icon>
          <div
            class="w-3 h-3 bg-red-600 rounded-full absolute top-0 right-0 display-none"
          ></div>
        </ion-button>
        <ion-button>
          <ion-icon
            [class]="isBackgroundTransparent ? 'text-[#007382]' : 'text-white'"
            slot="icon-only"
            name="person-circle-outline"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>
