@if (isMenuOpen) {
  <ion-backdrop [visible]="true"> </ion-backdrop>
}

<app-header headerTitle="Asset Register" [isDefaultHref]="true"></app-header>

<ion-content [fullscreen]="true" color="background">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div
          class="max-w-full mt-8 rounded-[8px] bg-white shadow-[0px_0px_6px_0px_#0000002E]"
        >
          @if (asset?.assetCategories) {
            <div class="max-w-full mx-auto p-6 border-b-[2px]">
              <!-- Segment tabs -->
              <ion-segment
                class="p-2"
                [value]="segment"
                [scrollable]="true"
                (ionChange)="handleChange($event)"
              >
                <ion-segment-button value="custom1">
                  <div
                    class="segment-change ion-justify-content-center rounded-full"
                  >
                    <ion-icon
                      class="p-4 h-[32px] w-[32px] image"
                      src="../../../../../assets/segment-icons/sim.svg"
                    >
                    </ion-icon>
                    <ion-text
                      color="textwhite"
                      class="ion-text-center hidden-content"
                    >
                      Info
                    </ion-text>
                  </div>
                </ion-segment-button>

                @if (asset?.assetCategories?.sim) {
                  <ion-segment-button value="custom2">
                    <div class="backg">
                      <div
                        class="segment-change ion-justify-content-center rounded-full"
                      >
                        <ion-icon
                          class="p-4 h-[32px] w-[32px] image"
                          src="../../../../../assets/segment-icons/sim.svg"
                        >
                        </ion-icon>
                        <ion-text
                          color="textwhite"
                          class="ion-text-center hidden-content"
                        >
                          Sim
                        </ion-text>
                      </div>
                    </div>
                  </ion-segment-button>
                }

                @if (asset?.assetCategories?.electrical) {
                  <ion-segment-button value="custom3">
                    <div
                      class="segment-change ion-justify-content-center rounded-full"
                    >
                      <ion-icon
                        color="primary"
                        class="p-4 h-[32px] w-[32px] image"
                        src="../../../../../assets/segment-icons/electrical.svg"
                      >
                      </ion-icon>
                      <ion-text
                        color="textwhite"
                        class="ion-text-center hidden-content"
                      >
                        Electrical
                      </ion-text>
                    </div>
                  </ion-segment-button>
                }
                @if (asset?.assetCategories?.materialManagement) {
                  <ion-segment-button value="custom4">
                    <div
                      class="segment-change ion-justify-content-center rounded-full"
                    >
                      <ion-icon
                        class="p-4 h-[32px] w-[32px] image"
                        src="../../../../../assets/segment-icons/materialManagement.svg"
                      >
                      </ion-icon>
                      <ion-text
                        color="textwhite"
                        class="ion-text-center hidden-content"
                      >
                        Info
                      </ion-text>
                    </div>
                  </ion-segment-button>
                }
              </ion-segment>
            </div>
          }

          <!-- segment container -->
          <div class="max-w-full mx-auto p-4">
            @switch (segment) {
              @case ("custom1") {
                <ion-grid>
                  <form [formGroup]="assetRegistrationForm">
                    <ion-row class="my-4">
                      <ion-col size="12" sizeMd="6">
                        <ion-input
                          required
                          fill="outline"
                          color="primary"
                          inputmode="text"
                          placeholder="Enter name"
                          labelPlacement="floating"
                          formControlName="assetName"
                          errorText="Asset name required"
                        >
                          <ion-label slot="label">
                            Enter name
                            <ion-text color="danger">*</ion-text>
                          </ion-label>
                        </ion-input>
                      </ion-col>
                      <ion-col size="12" sizeMd="6">
                        <ion-input
                          required
                          type="text"
                          label="Status"
                          fill="outline"
                          labelPlacement="floating"
                          placeholder="Enter Status"
                          formControlName="assetStatus"
                          errorText="Asset status required"
                        >
                          <ion-label slot="label">
                            Enter Status
                            <ion-text color="danger">*</ion-text>
                          </ion-label>
                        </ion-input>
                      </ion-col>
                      <ion-col size="12" sizeMd="6">
                        <ion-input
                          required
                          type="text"
                          fill="outline"
                          placeholder="Asset ID"
                          formControlName="assetId"
                          labelPlacement="floating"
                        >
                          <ion-label slot="label"> Asset ID </ion-label>
                        </ion-input>
                      </ion-col>

                      <ion-col size="12" sizeMd="6">
                        <ion-input
                          type="text"
                          fill="outline"
                          label="Enter SAP ID"
                          formControlName="sapId"
                          labelPlacement="floating"
                          placeholder="Enter SAP ID"
                        >
                        </ion-input>
                      </ion-col>

                      <ion-col size="12" sizeMd="6">
                        <div class="border-2 flex justify-between rounded-md">
                          <ion-grid>
                            <ion-row>
                              <ion-col size="10" class="my-auto">
                                <ion-text color="dark"> Category </ion-text>
                              </ion-col>
                              <ion-col class="flex justify-center" size="2">
                                <ion-button
                                  size="small"
                                  shape="round"
                                  fill="clear"
                                  color="white"
                                  (click)="handleMenuToggle()"
                                >
                                  <ion-icon
                                    color="primary"
                                    slot="end"
                                    name="chevron-down-outline"
                                  >
                                  </ion-icon>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </div>
                      </ion-col>

                      <ion-col size="12" sizeMd="6">
                        <ion-input
                          required
                          type="text"
                          fill="outline"
                          labelPlacement="floating"
                          formControlName="costCenter"
                          placeholder="Enter cost center"
                        >
                          <ion-label slot="label">
                            Enter cost center
                            <ion-text color="danger">*</ion-text>
                          </ion-label>
                        </ion-input>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="6">
                        <ion-grid>
                          <ion-row>
                            <ion-col size="12">
                              <ion-text
                                class="text-[16px] font-gotham_book"
                                color="black"
                              >
                                Add Picture
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <div class="flex">
                                <div
                                  class="h-[66px] w-[66px] rounded-md iconBg justify-center items-center flex"
                                >
                                  <ion-icon
                                    color="primary"
                                    class="h-[44px] w-[44px]"
                                    name="camera"
                                  >
                                  </ion-icon>
                                </div>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                      <ion-col size="6">
                        <ion-grid class="ion-float-right">
                          <ion-row>
                            <ion-col size="12" class="ion-text-end">
                              <ion-text class="text-[16px] font-gotham_book">
                                Add Location <span>*</span>
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col>
                              <div
                                class="flex h-[66px] w-[130px] rounded-md iconBg -ml-[5px] items-center justify-center"
                              >
                                <div>
                                  <ion-icon
                                    color="primary"
                                    size="large"
                                    name="location-outline"
                                  >
                                  </ion-icon>
                                </div>
                                <div>
                                  <ion-text
                                    color="primary"
                                    class="text-[16px] font-gotham_medium"
                                    >location</ion-text
                                  >
                                </div>
                                <div
                                  class="absolute cardIcon -mt-14 right-[-2px] w-[20px] h-[20px] rounded-full flex items-center ion-justify-content-center"
                                >
                                  <ion-icon
                                    color="white"
                                    name="checkmark-sharp"
                                  ></ion-icon>
                                </div>
                              </div>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </form>
                </ion-grid>
              }
              @case ("custom2") {
                <ion-grid>
                  <ion-row>
                    <ion-col size="12" sizeMd="6">
                      <ion-input
                        required
                        class="mb-4"
                        fill="outline"
                        label="Enter name"
                        placeholder="Roof-ACC-Cement House"
                        label-placement="floating"
                      >
                      </ion-input>
                    </ion-col>

                    <ion-col size="12" sizeMd="6">
                      <ion-input
                        required
                        class="mb-4"
                        fill="outline"
                        label="Status"
                        placeholder="Roof-ACC-Cement House"
                        label-placement="floating"
                      >
                      </ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              }
              @case ("custom3") {
                <ion-grid class="m-5 mt-6">
                  <ion-row>
                    <ion-col size="12">
                      <ion-select
                        class="mb-4"
                        fill="outline"
                        label="Stored Material"
                        [multiple]="true"
                        label-placement="floating"
                      >
                        <ion-select-option value="apple"
                          >Apple</ion-select-option
                        >
                        <ion-select-option value="banana"
                          >Banana</ion-select-option
                        >
                        <ion-select-option value="orange"
                          >Orange</ion-select-option
                        >
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              }
              @case ("custom4") {
                <ion-grid class="m-5 mt-6">
                  <ion-row>
                    <ion-col size="12">
                      <ion-select
                        class="mb-4"
                        fill="outline"
                        label="Stored Material"
                        [multiple]="true"
                        label-placement="floating"
                      >
                        <ion-select-option value="apple"
                          >Apple</ion-select-option
                        >
                        <ion-select-option value="banana"
                          >Banana</ion-select-option
                        >
                        <ion-select-option value="orange"
                          >Orange</ion-select-option
                        >
                      </ion-select>
                    </ion-col>
                    <ion-col size="12">
                      <ion-textarea
                        label="Outline textarea"
                        labelPlacement="floating"
                        fill="outline"
                        placeholder="Enter text"
                      ></ion-textarea>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              }
            }
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-asset-category-select-modal
  [isMenuOpen]="isMenuOpen"
  (CategoryChanged)="CategoryChanged($event)"
  (isMenuToggleOpen)="handleErrorModal($event)"
>
</app-asset-category-select-modal>

@if (!isMenuOpen) {
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons class="w-full" slot="start">
        <ion-button class="w-full" color="light" expand="full">
          Cancel
        </ion-button>

        <ion-button
          class="w-full"
          color="light"
          expand="full"
          [disabled]="!isFormValid()"
          (click)="handleSendForApproval()"
        >
          Send for approval
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
}
