<div class="">
  <div class="max-w-[550px] mx-auto relative rounded-md">
    <div
      class="bg-[#EDF5F5] rounded-md px-5 pt-5 pb-3 text-sm relative"
      [class]="isOverdue ? 'bg-[#F4F4F4]' : 'bg-[#EDF5F5]'"
    >
      <div
        class="absolute -top-2 right-1 w-[58px] h-[58px] rounded-full bg-white flex transform translate-x-2.5 -translate-y-2.5"
      >
        <div
          class="mx-auto my-auto w-12 h-12 rounded-full shadow-md flex"
          [class]="isOverdue ? 'bg-[#3CB4AA]' : 'bg-[#007382]'"
        >
          <ion-icon
            class="text-2xl mx-auto my-auto text-white"
            name="location-outline"
          ></ion-icon>
        </div>
      </div>
      <div>
        <!-- top part -->

        <div>
          <ion-title class="text-[16px] text-black font-bold pl-0 pb-2"
            >2023-SIM-Black lane quarry</ion-title
          >
        </div>
        <div class="my-2 border-t-[1.5px] border-dashed border-[#007382]"></div>
        <!-- middle part -->
        <div class="flex justify-between text-black">
          <div>
            <p class="text-xs">Created by</p>
            <span class="font-bold text-xs">john.doe&#64;holcim.com</span>
          </div>
          <div class="border-l-[2px] border-[#CDE2E2]"></div>
          <div class="">
            <p class="text-xs">Assign to</p>
            <span class="font-bold text-xs">joyce.smith&#64;holcim.com</span>
          </div>
        </div>
        <div class="my-2 border-t-[1.5px] border-dashed border-[#007382]"></div>
        <!-- bottom part -->
        <div class="flex justify-between mt-2 text-black">
          <div clsss="">
            <p class="text-xs">Assessment</p>
            <span class="font-bold text-xs">
              1<sup>st</sup> Jan - 30<sup>th</sup> Sep
            </span>
            <ion-progress-bar
              class="my-1 rounded-full h-[5px]"
              value="0.50"
              color="secondary"
            ></ion-progress-bar>
            <p class="text-xs">10/20</p>
          </div>
          <div class="flex flex-col">
            <p class="text-xs">Approval</p>
            <span class="font-bold text-xs">
              1<sup>st</sup> Oct - 31<sup>st</sup> Dec
            </span>
            <ion-badge
              class="text-white rounded-sm text-xs font-normal my-2"
              color="danger"
              >PENDING</ion-badge
            >
          </div>
          <div class="">
            <p class="text-xs mb-1">Closed</p>
            <ion-icon
              class="text-xl rounded-full p-[6px]"
              name="checkmark-outline"
              [class]="
                isOverdue
                  ? 'text-white bg-[#009146]'
                  : 'text-gray-500 bg-gray-300'
              "
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
