<div
  class="fixed w-28 h-[450px] right-28 top-[102px] rounded-l-3xl shadow-[-3px_0px_20px_3px_#00000024] bg-white transform transition-transform overflow-hidden duration-800 z-50"
  [class]="!isMenuOpen() ? 'translate-x-56' : ''"
>
  <!-- Your Content -->

  <div
    class="w-full max-h-[412px] flex flex-col space-y-3 items-center overflow-y-scroll bg-white my-5"
  >
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-full text-xs text-center mt-1">
        <span class="text-[#000000DE]">Silo</span>
      </div>
    </div>
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-[70px] text-xs text-center mt-1">
        <span class="text-[#000000DE]">Siloooooooooo</span>
      </div>
    </div>
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-full text-xs text-center mt-1">
        <span class="text-[#000000DE]">Silo</span>
      </div>
    </div>
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-full text-xs text-center mt-1">
        <span class="text-[#000000DE]">Silo</span>
      </div>
    </div>
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-full text-xs text-center mt-1">
        <span class="text-[#000000DE]">Silo</span>
      </div>
    </div>
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-full text-xs text-center mt-1">
        <span class="text-[#000000DE]">Silo</span>
      </div>
    </div>
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-full text-xs text-center mt-1">
        <span class="text-[#000000DE]">Silo</span>
      </div>
    </div>
    <div class="cursor-pointer">
      <div
        class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
      >
        <img
          class="object-cover w-full h-full"
          src="../../../assets/silo.png"
          alt="silo"
        />
      </div>
      <div class="w-full text-xs text-center mt-1">
        <span class="text-[#000000DE]">Silo</span>
      </div>
    </div>
  </div>
</div>
