<div
  class="fixed w-[400px] left-1/2 -translate-x-1/2 bottom-0 h-auto rounded-xl shadow-lg bg-transparent transform transition-transform duration-800 z-50"
  [class]="!isMenuOpen() ? 'translate-y-[calc(100%+40px)]' : ''"
>
  <div class="h-[26px] w-full flex">
    <div class="h-[28px] w-[calc(100%-80px)] bg-white rounded-tl-xl"></div>
    <div class="">
      <svg
        height="26"
        viewBox="0 0 100 50"
        width="52"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z"
          fill="white"
          fill-rule="evenodd"
        ></path>
      </svg>
      <div class="w-auto relative">
        <div
          class="absolute ml-[7px] -top-[46px] cursor-pointer w-[38px] h-[38px] bg-black rounded-full flex justify-center items-center"
          (click)="menuToggle()"
        >
          <ion-icon class="text-3xl fill-white" name="close"> </ion-icon>
        </div>
      </div>
    </div>
    <div class="h-[26px] bg-white flex-grow rounded-tr-xl"></div>
  </div>
  <div class="max-h-32 max-w-full px-2 py-2 text-black bg-white rounded-b-xl">
    <!-- Your Content -->
    <div
      class="max-w-full max-h-full pb-2 flex space-x-2 items-start overflow-x-scroll"
    >
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-full text-xs text-center mt-1">
          <span class="text-[#000000DE]">Silo</span>
        </div>
      </div>
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-[70px] text-xs text-center mt-1">
          <span class="text-[#000000DE]">Siloooooooooo</span>
        </div>
      </div>
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-full text-xs text-center mt-1">
          <span class="text-[#000000DE]">Silo</span>
        </div>
      </div>
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-full text-xs text-center mt-1">
          <span class="text-[#000000DE]">Silo</span>
        </div>
      </div>
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-full text-xs text-center mt-1">
          <span class="text-[#000000DE]">Silo</span>
        </div>
      </div>
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-full text-xs text-center mt-1">
          <span class="text-[#000000DE]">Silo</span>
        </div>
      </div>
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-full text-xs text-center mt-1">
          <span class="text-[#000000DE]">Silo</span>
        </div>
      </div>
      <div class="cursor-pointer">
        <div
          class="h-[70px] w-[70px] border-2 border-[#D6EAEB] rounded-md flex justify-center items-center overflow-hidden"
        >
          <img
            class="object-cover w-full h-full"
            src="../../../assets/silo.png"
            alt="silo"
          />
        </div>
        <div class="w-full text-xs text-center mt-1">
          <span class="text-[#000000DE]">Silo</span>
        </div>
      </div>
    </div>
  </div>
</div>
