<app-header headerTitle="Assessment"></app-header>

@if (isAssessmentModalOpen == true) {
  <ion-backdrop [visible]="true"> </ion-backdrop>
}

<ion-content [fullscreen]="true" color="background">
  <ion-card class="m-6 h-auto rounded-md shadow-[0px_1px_6px_1px_#00000024]">
    <!-- innter top card -->
    <ion-card
      class="m-0 rounded-t-md rounded-b-none shadow-[0px_1px_6px_0px_#00000024]"
    >
      <ion-card-content class="p-2">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-select
                interface="popover"
                class="relative"
                required
                fill="outline"
                color="primary"
                toggleIcon="chevron-down-outline"
                expandedIcon="chevron-up-outline"
                inputmode="text"
                placeholder="Select..."
                labelPlacement="floating"
                errorText="Asset name required"
              >
                <div slot="label" class="text-[#007382] font-bold pt-[2px]">
                  Select GRU
                  <ion-text color="danger">*</ion-text>
                </div>
                <ion-select-option value="apple">item 1</ion-select-option>
                <ion-select-option value="banana">item 2</ion-select-option>
                <ion-select-option value="orange">item 3</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="4">
              <ion-select
                interface="popover"
                class="relative"
                required
                fill="outline"
                color="primary"
                toggleIcon="chevron-down-outline"
                expandedIcon="chevron-up-outline"
                inputmode="text"
                placeholder="Select..."
                labelPlacement="floating"
                errorText="Asset name required"
              >
                <div slot="label" class="text-[#007382] font-bold pt-[2px]">
                  Select Unit
                  <ion-text color="danger">*</ion-text>
                </div>
                <ion-select-option value="apple">unit 1</ion-select-option>
                <ion-select-option value="banana">unit 2</ion-select-option>
                <ion-select-option value="orange">unit 3</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="4">
              <ion-select
                interface="popover"
                class="relative"
                required
                fill="outline"
                color="primary"
                toggleIcon="chevron-down-outline"
                expandedIcon="chevron-up-outline"
                inputmode="text"
                placeholder="Select..."
                labelPlacement="floating"
                errorText="Asset name required"
              >
                <div slot="label" class="text-[#007382] font-bold pt-[2px]">
                  Select Plant
                  <ion-text color="danger">*</ion-text>
                </div>
                <ion-select-option value="apple">plant 1</ion-select-option>
                <ion-select-option value="banana">plant 2</ion-select-option>
                <ion-select-option value="orange">plant 3</ion-select-option>
              </ion-select></ion-col
            >
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- Assessment count part -->
    <!-- --------------------- -->

    @if (
      currentYearAssessments.length == 0 && previousYearAssessments.length == 0
    ) {
      <div class="p-[18px] flex items-center justify-between">
        <ion-card-header class="p-0">
          <ion-card-title class="font-bold">Assessment</ion-card-title>
          <ion-card-subtitle>** Zero assessment created</ion-card-subtitle>
        </ion-card-header>
        <ion-button
          class="h-[56px] w-[200px] font-bold"
          shape="round"
          color="secondary"
          (click)="assessmentModalToggle()"
        >
          Create new
        </ion-button>
      </div>
    } @else {
      @if (currentYearAssessments.length > 0) {
        <div class="p-[18px] flex items-center justify-between">
          <ion-card-header class="p-0">
            <ion-card-title class="font-bold"
              >Current year assessments
              <span>({{ currentYearAssessments.length }})</span></ion-card-title
            >
          </ion-card-header>
          <div class="flex gap-4">
            <ion-list class="p-1">
              <ion-select
                class="text-[#007382] font-bold text-[16px]"
                fill="outline"
                shape="round"
                interface="popover"
                toggleIcon="chevron-down-outline"
                expandedIcon="chevron-up-outline"
                aria-label="Filter"
                value="open"
                (ionChange)="onSelectChange($event)"
              >
                <ion-select-option value="open">Open</ion-select-option>
                <ion-select-option value="close">Closed</ion-select-option>
              </ion-select>
            </ion-list>
            <ion-button
              class="h-[56px] w-[200px] font-bold"
              shape="round"
              color="secondary"
              (click)="assessmentModalToggle()"
            >
              Create new
            </ion-button>
          </div>
        </div>

        <ion-card-content class="px-[5px] pb-6">
          <ion-grid>
            <ion-row>
              @if (selectedOption == "open") {
                @for (openAssessment of openAssessments; track openAssessment) {
                  <ion-col class="px-2 py-3" size="6"
                    ><app-assessment-card
                      [isOpen]="true"
                      [data]="openAssessment"
                    ></app-assessment-card
                  ></ion-col>
                }
              } @else {
                @for (
                  closedAssessment of closedAssessments;
                  track closedAssessment
                ) {
                  <ion-col size="6" class="px-2 py-3"
                    ><app-assessment-card
                      [isOpen]="false"
                      [data]="closedAssessment"
                    ></app-assessment-card
                  ></ion-col>
                }
              }
            </ion-row>
          </ion-grid>
        </ion-card-content>
      }
      @if (previousYearAssessments.length > 0) {
        <div class="p-[18px] flex items-center justify-between">
          <ion-card-header class="p-0">
            <ion-card-title class="font-bold"
              >Previous year assessments
              <span
                >({{ previousYearAssessments.length }})</span
              ></ion-card-title
            >
          </ion-card-header>
          <div class="flex gap-4">
            <ion-list class="p-1">
              <ion-select
                class="text-[#007382] font-bold text-[16px]"
                fill="outline"
                shape="round"
                interface="popover"
                toggleIcon="chevron-down-outline"
                expandedIcon="chevron-up-outline"
                aria-label="Filter"
                value="{{ selectedYear }}"
                (ionChange)="onSelectYearChange($event)"
              >
                @for (previousYear of previousYearsList; track previousYear) {
                  <ion-select-option value="{{ previousYear }}">
                    {{ previousYear }}
                  </ion-select-option>
                }
              </ion-select>
            </ion-list>
          </div>
        </div>

        <ion-card-content class="px-[5px] pb-6">
          <ion-grid>
            <ion-row>
              @for (
                selectedYearAssessment of selectedYearAssessments;
                track selectedYearAssessment
              ) {
                <ion-col class="px-2 py-3" size="6"
                  ><app-assessment-card
                    [isOpen]="true"
                    [data]="selectedYearAssessment"
                  ></app-assessment-card
                ></ion-col>
              }
            </ion-row>
          </ion-grid>
        </ion-card-content>
      }
    }
  </ion-card>
</ion-content>

<app-assessment-modal
  [(isMenuOpen)]="isAssessmentModalOpen"
></app-assessment-modal>
