@use "node_modules/@ngneat/hot-toast/src/styles/styles.scss";

@tailwind base;
@tailwind utilities;
@tailwind components;

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Gotham Light";
  src:
    url("./assets/fonts/woff2/Gotham-Light_Web.woff2") format("woff2"),
    url("./assets/fonts/woff/Gotham-Light_Web.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Gotham Book";
  src:
    url("./assets/fonts/woff2/Gotham-Book_Web.woff2") format("woff2"),
    url("./assets/fonts/woff/Gotham-Book_Web.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Gotham Medium";
  src:
    url("./assets/fonts/woff2/Gotham-Medium_Web.woff2") format("woff2"),
    url("./assets/fonts/woff/Gotham-Medium_Web.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Gotham Bold";
  src:
    url("./assets/fonts/woff2/Gotham-Bold_Web.woff2") format("woff2"),
    url("./assets/fonts/woff/Gotham-Bold_Web.woff") format("woff");
}

* {
  font-family: "Gotham Book";
  --ion-font-family: "Gotham Book";
}

// Change the design of scrollbar
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4ca1b1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a818f;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px #edf5f5;
}

.ion-color-background {
  --ion-color-base: var(--ion-color-background);
  --ion-color-tint: var(--ion-color-background-tint);
  --ion-color-shade: var(--ion-color-background-shade);
  --ion-color-base-rgb: var(--ion-color-background-rgb);
  --ion-color-contrast: var(--ion-color-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
}

.ion-color-accordion {
  --ion-color-base: var(--ion-color-accordion);
  --ion-color-tint: var(--ion-color-accordion-tint);
  --ion-color-shade: var(--ion-color-accordion-shade);
  --ion-color-base-rgb: var(--ion-color-accordion-rgb);
  --ion-color-contrast: var(--ion-color-accordion-contrast);
  --ion-color-contrast-rgb: var(--ion-color-accordion-contrast-rgb);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-tint: var(--ion-color-black-tint);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
}

.ion-color-approvalpending {
  --ion-color-base: var(--ion-color-approvalpending);
  --ion-color-tint: var(--ion-color-approvalpending-tint);
  --ion-color-shade: var(--ion-color-approvalpending-shade);
  --ion-color-base-rgb: var(--ion-color-approvalpending-rgb);
  --ion-color-contrast: var(--ion-color-approvalpending-contrast);
  --ion-color-contrast-rgb: var(--ion-color-approvalpending-contrast-rgb);
}

.ion-color-registerationpending {
  --ion-color-base: var(--ion-color-registerationpending);
  --ion-color-tint: var(--ion-color-registerationpending-tint);
  --ion-color-shade: var(--ion-color-registerationpending-shade);
  --ion-color-base-rgb: var(--ion-color-registerationpending-rgb);
  --ion-color-contrast: var(--ion-color-registerationpending-contrast);
  --ion-color-contrast-rgb: var(--ion-color-registerationpending-contrast-rgb);
}

.ion-color-rejected {
  --ion-color-base: var(--ion-color-rejected);
  --ion-color-tint: var(--ion-color-rejected-tint);
  --ion-color-shade: var(--ion-color-rejected-shade);
  --ion-color-base-rgb: var(--ion-color-rejected-rgb);
  --ion-color-contrast: var(--ion-color-rejected-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rejected-contrast-rgb);
}

.ion-color-textwhite {
  --ion-color-base: var(--ion-color-textwhite);
  --ion-color-tint: var(--ion-color-textwhite-tint);
  --ion-color-shade: var(--ion-color-textwhite-shade);
  --ion-color-base-rgb: var(--ion-color-textwhite-rgb);
  --ion-color-contrast: var(--ion-color-textwhite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-textwhite-contrast-rgb);
}

.ion-color-input {
  --ion-color-base: var(--ion-color-input);
  --ion-color-tint: var(--ion-color-input-tint);
  --ion-color-shade: var(--ion-color-input-shade);
  --ion-color-base-rgb: var(--ion-color-input-rgb);
  --ion-color-contrast: var(--ion-color-input-contrast);
  --ion-color-contrast-rgb: var(--ion-color-input-contrast-rgb);
}

.input-fill-outline {
  --border-width: 1.5px;
  --border-color: var(--ion-color-input);
}
.input-fill-outline.sc-ion-input-md-h {
  --border-width: 1.5px;
  --border-color: var(--ion-color-input);
}
.ion-valid.sc-ion-input-md-h {
  --border-width: 1.5px;
  --highlight-color: var(--ion-color-dark);
}
.has-focus.input-fill-outline.ion-valid.sc-ion-input-md-h {
  --border-width: 1.5px;
  --border-color: var(--ion-color-input);
}
.input-fill-outline.ion-touched.ion-invalid.sc-ion-input-md-h {
  --border-width: 1.5px;
  --border-color: var(--ion-color-danger);
}
