<app-header headerTitle="DASHBOARD"></app-header>

<ion-content [fullscreen]="true" color="background">
  <ion-grid
    class="p-0 pr-3 pb-2 h-full flex flex-col justify-between overflow-hidden"
    color="background"
  >
    <ion-row class="flex-grow">
      <ion-col class="p-0 flex flex-col h-full" size="6.5">
        <ion-row>
          <ion-col class="p-0" size="12">
            <!-- Check-in Card -->
            <ion-card class="card shadow-[-2px_2px_3px_0px_#00000024] relative">
              <ion-card-content>
                <div class="flex gap-3 items-center">
                  <ion-icon
                    src="../../../assets/check-in/loaction-icon.svg"
                    class="w-12 h-12"
                  ></ion-icon>
                  <div>
                    <header class="text-[#363636]">Check-in</header>
                    <span class="text-black text-xl font-bold">
                      5701 Mt Keith Debottlenecking Co...
                    </span>
                  </div>
                </div>
              </ion-card-content>
              <div
                class="absolute top-0 right-0 translate-x-2 -translate-y-2 w-16 h-16 bg-[#F5FEFF] shadow-[inset_1px_-1px_4px_0px_#00000024] rounded-full flex items-center justify-center"
              >
                <div
                  class="w-12 h-12 bg-[#007382] rounded-full flex justify-center items-center"
                >
                  <ion-icon
                    src="../../../assets/check-in/loacation-button.svg"
                    class="w-7 h-7"
                  ></ion-icon>
                </div>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col class="p-0" size="12">
            <!-- Bar Chart Card -->
            <ion-card class="card shadow-[0px_0px_5px_1px_#00000024]">
              <ion-card-header>
                <ion-card-title>Statistics</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in
                awhile, and climb a mountain or spend a week in the woods. Wash
                your spirit clean.
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col class="p-0 px-2 pb-2 h-full" size="5.5">
        <div
          class="w-full h-full flex flex-col justify-start rounded-md bg-white overflow-hidden shadow-[0px_0px_5px_1px_#00000024]"
        >
          <app-calendar></app-calendar>
          <div class="m-4 font-semibold flex justify-between mb-3">
            <label class="text-[#363636] text-xs font-bold py-1">
              LEGENDS:
            </label>
            <ion-badge
              class="my-auto bg-[#009146] text-xs font-thin rounded-sm"
            >
              ASSESSMENT
            </ion-badge>
            <ion-badge
              class="my-auto bg-[#FF6E00] text-xs font-thin rounded-sm"
            >
              FINDING
            </ion-badge>
            <ion-badge
              class="my-auto bg-[#1D4370] text-xs font-thin rounded-sm"
            >
              ACTIONS
            </ion-badge>
            <ion-badge
              class="my-auto bg-[#F00014] text-xs font-thin rounded-sm"
            >
              OVERDUE
            </ion-badge>
          </div>
          <div
            class="w-full h-[calc(100vh-650px)] my-3 py-4 px-4 bg-white flex flex-col gap-5 overflow-y-scroll"
          >
            <app-assessment-card [isOpen]="false"></app-assessment-card>
            <app-findings-card></app-findings-card>
            <app-action-card></app-action-card>
            <app-action-card [isOverdue]="true"></app-action-card>
          </div>
        </div>
        <!-- <ion-row>
          <ion-col class="p-0 w-full h-full bg-white" size="12">
            <ion-card
              class="card h-full rounded-tr-2xl shadow-[0px_0px_5px_1px_#00000024]"
            >
              <ion-card-content class="p-0">
                <app-calendar></app-calendar>

                <div class="m-4 font-semibold flex justify-between mb-3">
                  <label class="text-[#363636] text-xs font-bold py-1">
                    LEGENDS:
                  </label>
                  <ion-badge
                    class="my-auto bg-[#009146] text-xs font-thin rounded-sm"
                  >
                    ASSESSMENT
                  </ion-badge>
                  <ion-badge
                    class="my-auto bg-[#FF6E00] text-xs font-thin rounded-sm"
                  >
                    FINDING
                  </ion-badge>
                  <ion-badge
                    class="my-auto bg-[#1D4370] text-xs font-thin rounded-sm"
                  >
                    ACTIONS
                  </ion-badge>
                  <ion-badge
                    class="my-auto bg-[#F00014] text-xs font-thin rounded-sm"
                  >
                    OVERDUE
                  </ion-badge>
                </div>
                <div
                  class="w-full h-[calc(100vh-640px)] my-3 py-4 px-4 bg-blue-300 flex flex-col gap-5 overflow-y-scroll"
                >
                  <app-assessment-card [isOpen]="false"></app-assessment-card>
                  <app-assessment-card [isOpen]="false"></app-assessment-card>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="p-0" size="12">
        <ion-card class="card h-[90px] shadow-[0px_0px_5px_1px_#00000024]">
          <ion-card-content>
            <div class="flex gap-3 items-center">
              <ion-icon
                src="../../../assets/tip-of-the-day/tip-of-the-day-icon.svg"
                class="w-12 h-12 bg-[#EDF5F5] p-2 rounded-sm"
              ></ion-icon>
              <div>
                <header class="text-[#363636]">Tip of the day</header>
                <span class="text-black text-xl font-bold">
                  Practice good posture when sitting or lifting and take regular
                  break intervals
                </span>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
